.previewMainContent
{
  position: relative;
  height: 90%;
  width: 70%;
  display: grid;
  grid-template-rows: 24% 15% 61%;
  background-color: white;
  /* background-image: url(../../images/CV.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: black;
  padding: 0 1.5rem;
  box-shadow: 5px 5px 10px black;
}


/* ========== H E A D ========== */

.previewHeadContent
{
  display: grid;
  grid-template-columns: 35% 65%;
}

.previewHeadContent .previewAvatarContent
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10% 0 0% 15%;
  border: 4px solid #0df;
  border-radius: 50%;
}

.avatar img
{
  height: 90%;
  width: 90%;
  /* background-color: rgba(0, 0, 255, 0.466); */
  /* background-image: url(../../images/avatar.png); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 10%; */
  /* border: 2px solid black; */
  border-radius: 50%;
}

.previewHeadContent .previewAboutContent
{
  text-align: justify;
  padding: 30px 20px;
}

.previewHeadContent .previewAboutContent h3
{
  font-size: 1.2rem;
  font-weight: bolder;
  border-bottom: 2px solid black;
  text-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
}

.previewHeadContent .previewAboutContent p
{
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: 1.2rem;
}


/* ========== M I D D L E B A R ========== */

.previewMiddlebarContent
{
  display: grid;
  grid-template-columns: 65% 35%;
  background-color: rgb(0, 50, 80);
  border-right: 5px solid #0df;
}

.previewMiddlebarContent .previewNameUserContent
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 5%, 100% 0%, 80% 90%, 0% 100%);
  background-color: #0df;
  /* border-top: 5px solid rgb(0, 50, 80); */
  border-left: 5px solid rgb(0, 50, 80);
  padding-right: 25%;
}

.previewMiddlebarContent .previewNameUserContent h4
{
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.previewMiddlebarContent .previewNameUserContent h2
{
  color: rgb(0, 50, 80);
  text-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
}

.previewMiddlebarContent .previewTitleUserContent
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  background-color: rgb(0, 50, 80);
  border-top: 5px solid #0df;
  border-right: 5px solid #0df; */
  padding-right: 25%;
}

.previewMiddlebarContent .previewTitleUserContent p
{
  font-size: 1.2rem;
  font-weight: 600;
  color: #0df;
  text-shadow: 2px 2px 2px rgba(0, 220, 255, 0.5);
}


/* ========== C O N T E N T   3 ========== */

.previewBottomContent
{
  display: grid;
  grid-template-columns: 35% 65%;
}

.previewBottomContent .previewSidebarContent
{
  display: grid;
  grid-template-rows: 40% 60%;
  gap: 5px;
  clip-path: polygon(0 1%, 100% 0%, 100% 100%, 0 100%);
  background-color: rgb(0, 50, 80);
  /* border-top: 5px solid #0df; */
  border-left: 5px solid #0df;
}

.previewBottomContent .previewSidebarContent div
{
  color: white;
  margin-top: 40px;
  margin-left: 30px;
}

.previewBottomContent .previewSidebarContent div div
{
  text-align: left;
  font-size: 0.7rem;
  margin: 0;
  margin-top: 5px;
}

.previewBottomContent .previewSidebarContent div div div
{
  display: flex;
  align-items: center;
  gap: 10px;
}

.previewBottomContent .previewSidebarContent div h4
{
  font-size: 0.8rem;
  color: #0df;
  border-bottom: 4px solid white;
  text-align: left;
  padding-bottom: 5px;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.2);
}

.previewBottomContent .previewSidebarContent div ul
{
  font-size: 0.7rem;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px
}


/* ========== C O N T E N T   EDU ========== */
/* 
.previewEduExpContent
{
  background-color: red;
} */

.previewEducationContent
{
  /* height: 50%; */
  /* display: grid; */
  /* grid-template-columns: 25% 75%; */
  /* grid-template-rows: 10% 90%; */
  padding: 20px 0;
}

.previewEducationContent h5
{
  align-self: center;
}

.previewEducationContent div
{
  display: flex;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 10px;
}

.previewEducationDate
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 10px;
}

.previewEducationDate p
{
  font-size: 0.6rem;
}

.previewEducationInfo
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 0 10px; */
  padding-left: 20px;
  padding-right: 10px;
  border-left: 2px solid #0df;
}

.previewEducationInfo p
{
  font-size: 0.7rem;
}


/* ========== C O N T E N T   EDU / EXP ========== */
/* 
.previewExperienceContent
{
  height: 50%;
} */

.previewExperienceContent
{
  /* height: 50%; */
  /* display: grid; */
  /* grid-template-columns: 25% 75%; */
  /* grid-template-rows: 10% 90%; */
  padding: 20px 0;
}

.previewExperienceContent h5
{
  align-self: center;
}

.previewExperienceContent div
{
  display: flex;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: 10px;
}

.previewExperienceDate
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 10px;
}

.previewExperienceDate p
{
  font-size: 0.6rem;
}

.previewExperienceInfo
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 0 10px; */
  padding-left: 20px;
  padding-right: 10px;
  border-left: 2px solid #0df;
}

.previewExperienceInfo p
{
  font-size: 0.7rem;
}

