.main 
{
  height: 88vh;
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45% 10%;
  justify-items: center;
  align-items: center;
  /* background-color: #576279; */
  text-align: center;
}
