.App 
{
  height: 100vh;
  width: 100%;
  /* background-color: #576279; */
  background-image: url(./images/office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media (max-width: 1700px)
{
  .App
  {
    height: 220vh;
  }
}

@media (max-width: 1000px)
{
  .App
  {
    height: 172vh;
  }
}

@media (max-width: 790px)
{
  .App
  {
    height: 112vh;
  }
}
